/doxygen/html
/doxygen/man

/build

*.o
*.so
*.so.*
*.a

/libs
/obj

/examples/audio.raw
/examples/pcm-readi
/examples/pcm-writei

/utils/tinyplay
/utils/tinycap
/utils/tinymix
/utils/tinypcminfo

/bazel*
